/*
 * -----------------------------------------------------------------------------------------------------------
 * This CSS consists of combination styles from Eric Meyer's Reset CSS and Nicholas Gallagher's Normalize CSS
 * All resets styles are placed under Reset CSS
 * All normalized styles are placed under Normalize
 * -----------------------------------------------------------------------------------------------------------
 * */

/* -----------------------------------------------------------------------------------------------------------
 * Reset CSS v2.0 - A ported version of reset CSS with some reset styles
 * brought in from Normalize CSS
 * -----------------------------------------------------------------------------------------------------------
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, select, textarea, input[type="checkbox"],input[type="radio"] { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/* ----------------------------------------------------------------------------------------------------------
 * Normalize CSS - A trimmed version of normalize with some of the over normalization removed
 * e.g. provision of border, padding and margins to fieldset
 * ----------------------------------------------------------------------------------------------------------
 */

/*
 * 1-Prevent iOS text size adjust after orientation change, without disabling
 * 2-user zoom. 
*/
html {
    -ms-text-size-adjust:100%; 
    -webkit-text-size-adjust:100%;	
}

/** ---HTML5 display definitions---
 * 1-Correct 'inline-block' display not defined in IE 8/9.
 * 2-(a)Prevent modern browsers from displaying 'audio' without controls.
	 (b)Remove excess height in iOS 5 devices.
 * 3-(a)Address '[hidden]' styling not present in IE 8/9.
     (b)Hide the 'template' element in IE, Safari, and Firefox < 22. */
audio, canvas, video { display:inline-block; }
audio:not([controls]) { display:none;height:0; }
[hidden], template { display:none; }

/** ---LINKS---
 * 1-Remove the gray background color from active links in IE 10.
 * 2-Address 'outline' inconsistency between Chrome and other browsers.
 * 3-Improve readability when focused and also mouse hovered in all browsers. */
a { background: transparent; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }

/** ---TYPOGRAPHY---
 * 1-Address styling not present in IE 8/9, Safari 5, and Chrome.
 * 2-Address style set to 'bolder' in Firefox 4+, Safari 5, and Chrome.
 * 3-Address styling not present in Safari 5 and Chrome.
 * 4-Address differences between Firefox and other browsers.
 * 5-Address styling not present in IE 8/9.
 * 6-Correct font family set oddly in Safari 5 and Chrome.
 * 7-Improve readability of pre-formatted text in all browsers.
 * 8-Address inconsistent and variable font size in all browsers.
 * 9,10-Prevent 'sub' and 'sup' affecting 'line-height' in all browsers. */
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
dfn { font-style:italic; }
hr { -moz-box-sizing:content-box; box-sizing:content-box;height:0; }
mark { background:#ff0;color:#000; }
code, kbd, pre, samp { font-family:monospace,serif;font-size:1em; }
pre { white-space:pre-wrap; }
small { font-size:80%; }
sub, sup { font-size:75%;line-height:0;position:relative;vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }

/** ---EMBEDDED CONTENT---
 * 1-Remove border when inside `a` element in IE 8/9. 
 * 2-Correct overflow displayed oddly in IE 9. */
img { border: 0; }
svg:not(:root) { overflow:hidden; }

/** ---FIGURES--- 
 * 1-Address margin not present in IE 8/9 and Safari 5. */
figure { margin: 0; }


/** ---FORMS---
 * 1-Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
 * 2-(a)Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * 2-(b)Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button, input { line-height:normal; }
button, select { text-transform:none; }

/**
 * 1-(a)Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 1-(b)Correct inability to style clickable `input` types in iOS
 * 1-(c)Improve usability and consistency of cursor style between image-type `input` and others.
 * 2-Re-set default cursor for disabled elements.
 * 3-(a)Address box sizing set to `content-box` in IE 8/9/10.
 * 3-(b)Remove excess padding in IE 8/9/10.
 * 4-Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
 * 5-Remove inner padding and border in Firefox 4+.
 * 6-(a)Remove default vertical scrollbar in IE 8/9.
 * 6-(b)Improve readability and alignment in all browsers.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance:button; cursor:pointer; }
button[disabled], html input[disabled] {cursor:default;}
input[type="checkbox"], input[type="radio"] { box-sizing:border-box;padding:0; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0;padding:0; }
textarea { overflow:auto;vertical-align:top; }

/*
 * ----------------
 * HELPER CLASSES
 * ----------------
 * */
.clearfix:before, .clearfix:after { content: " ";display: table; }
.clearfix:after { clear: both; }
